@model NetworkEditVm
@{
    ViewData["Title"] = "Netz anlegen";
}
<h4>@ViewData["Title"]</h4>
<hr />
<form asp-action="Create" method="post" asp-antiforgery="true">
    @await Html.PartialAsync("_Form", Model)
    <div class="mt-3 d-flex gap-2">
        <button class="btn btn-primary">Speichern</button>
        <a class="btn btn-outline-secondary" asp-action="Index">Abbrechen</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
