@model Guid   
@* DokuObjectId *@
<div class="mb-2">
    <a class="btn btn-sm btn-success"
       asp-controller="DeviceIps"
       asp-action="Create"
       asp-route-dokuObjectId="@Model">
        + IP hinzufügen
    </a>
</div>
